<!-- fixed position navigation bar -->
<nav class="nav-display">
  <div>
    <span class="nav-title" style="cursor: pointer;" onclick="window.location='/listings/';">WE ONLY SELL SANDWICHES DOT COM 🍞</span>
  </div>
  <div>
  <% if (cookie.includes('admin=true')) { %>
      <button style="cursor: pointer;" class="nav-menu-buttons" onclick="window.location='/create/';">CREATE LISTING</button>
      <button style="cursor: pointer;" class="nav-menu-buttons" onclick="window.location='/mine/';">MY LISTINGS</button>
      <button style="cursor: pointer;" class="nav-menu-buttons">MESSAGES</button>
    <% } else { %>
      <button style="cursor: pointer;" class="nav-menu-buttons" onclick="window.location='/favorites/';">FAVORITES</button>
      <button type="submit" class="nav-menu-buttons">MESSAGES</button>
    <% } %>
      <button type="submit" class="nav-menu-buttons" onclick="window.location='/search/';">SEARCH</button>
      <button style="cursor: pointer;"class="nav-menu-buttons" onclick="window.location='/';"><i class="fa-solid fa-house"></i></button>
    </div>
    </nav>
