.header-main {
  height: 500px;
  width: 100%;
  background-color: #a1c5a6;
  color: #FFFFFF;
  top: 0;
  font-family: "Bebas Neue";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.header-image-container {
  padding-top: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-image {
  border-radius: 4em;
  height: 21em;
  width: 38em;
  opacity: 0.8;
}

.header-image:hover {
  box-shadow: 0.3rem 0.3rem #324f3c;
  filter: brightness(90%);
}
