// See: https://sass-lang.com/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #e0e0e0;
  background-color: #e0e0e0;
  font-family: "Bebas Neue";
  display: flex;
  flex-direction: column;
}

main {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
 }
