.listings-container-row {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.listings-container {
  color: #324f3c;
  width: 27%;
  margin-inline: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 20em;
  border-radius: 6em;

  img {
    height: 12em;
    width: 12em;
    border-radius: 3em;
    margin-bottom: 2em;
    border: 0.2em solid #324f3c;
  }

  span {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.listings-container:hover {
  transition: all 0.3s;
  box-shadow: 0.2rem 0.2rem #939393;
  background: #a1c5a6;
}

.listings-more-button {
  display:inline-block;
  padding: 0.5em 2em;
  border: 0.2em solid #324f3c;
  margin-bottom: 2em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:"Bebas Neue";
  font-size: 1.3em;
  color:#324f3c;
  text-align: center;
  transition: all 0.3s;
}

.listings-more-button:hover {
  color:#324f3c;
  background-color:#a1c5a6;
  box-shadow: 0.2rem 0.2rem #939393;
}
