.listings-container-row {
  border: 3px solid blue;
  padding-block: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.tweets-container {
  border: green solid;
  padding-block: 4em;
  width: 25%;
  margin-inline: 2em;
}
