.messages-container {
  color: #324f3c;
  border: 0.5em solid #324f3c;
  width: 75%;
  height: 52em;
  display: flex;
  flex-direction: row;
  border-radius: 5em;
  overflow-y: auto;
}

.sales-container {
  border-right: 0.3em solid #324f3c;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding-left: 1em;
  padding-top: 1em;
  overflow-y: auto;

  span {
    color:#e0e0e0;
    font-size: 1.4em;
  }
}

.listing-display-container {
  border-bottom: 0.1em solid #324f3c;
  width: 100%;
  height: 40%;
  font-size: 2.3em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.messages-conversation-container {
  width: 100%;
  height: 60%;
  font-size: 2.7em;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding-top: 0.6em;
  padding-inline: 0.2em;
}

.right-side-messages {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.individual-sales-container {
  color: #324f3c;
  border: 0.3em solid #324f3c;
  width: 96%;
  height: 5em;
  border-radius: 1em;
  margin-block: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-sales-container:hover {
  box-shadow: 0.3rem 0.3rem #939393;
  color: #e0e0e0;
}

.individual-sales-container-img {
  height: 4em;
  width: 4em;
  border-radius: 4em;
}

.individual-sales-container-img:hover {
  scale: 95%;
  filter: brightness(90%);
}

.individual-sales-container-description {
  height: 4em;
  width: 36em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-image-container {
  border: 0.1em solid #324f3c;
  width: 32%;
  height: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin-left: 1em;

  img {
    height: 100%;
    width: 100%;
    border-radius: 0.8em;
  }

  img:hover {
    filter: brightness(90%);
    transition: all 0.3s;
  }
}

.listing-description-container {
  margin-top: 1em;
  width: 60%;
  font-size: 0.5em;
  display: flex;
  justify-content: left;
  align-items: center;
}

.user-conversation-container {
  width: 90%;
  height: 6%;
  font-size: 0.4em;
}

.admin-conversation-container {
  width: 90%;
  height: 6%;
  font-size: 0.4em;
  display: flex;
  justify-content: right;
  align-items: center;
}

.messages-send-button {
  font-family: "Bebas Neue";
  background-color: #324f3c;
  color: white;
  border: none;
  outline: none;
  height: 2.5em;
  width: 5em;
  border-radius: 0.8em;
  margin-left: 0.8em;
}

.messages-send-button:hover {
  box-shadow: 0.2rem 0.2rem #939393;
}

.messages-text-enter {
  border: none;
  background: #324f3c;
  color: #e0e0e0;
  width: 32em;
  height: 2.5em;
  margin-bottom: 0.7em;
  resize: none;
  outline: none;
  overflow: hidden;
  border-radius: 0.8em;
  text-indent: 0.8em;
  padding-top: 0.6em;
}

.messages-text-enter:hover {
  box-shadow: 0.2rem 0.2rem #939393;
}

.message-and-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.3em;
}

.messenger-title {
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  color: #e0e0e0;
  background: #324f3c;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7em;
  border-radius: 0.8em;
}

.messenger-title:hover {
  box-shadow: 0.2rem 0.2rem #939393;
}

.sales-title {
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  color: #e0e0e0;
  background: #324f3c;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7em;
  border-radius: 0.8em;
}

.sales-title:hover {
  box-shadow: 0.2rem 0.2rem #939393;
}
