.messages-container {
  color: #324f3c;
  border: 0.5em solid #324f3c;
  width: 75%;
  height: 52em;
  display: flex;
  flex-direction: row;
  border-radius: 5em;
}

.sales-container {
  border-right: 0.3em solid #324f3c;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding-left: 1em;
  padding-top: 1em;

  span {
    color:#e0e0e0;
    font-size: 1.4em;
  }
}

.listing-display-container {
  border-bottom: 0.1em solid #324f3c;
  width: 100%;
  height: 40%;
  font-size: 2.3em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.messages-conversation-container {
  width: 100%;
  height: 60%;
  font-size: 2.3em;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding-top: 0.6em;
  padding-inline: 0.2em;
}

.right-side-messages {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.individual-sales-container {
  color: #324f3c;
  border: 0.3em solid #324f3c;
  width: 96%;
  height: 5em;
  border-radius: 1em;
  margin-block: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-sales-container-img {
  border: 1px solid purple;
  height: 4em;
  width: 4em;
  border-radius: 1em;
}

.individual-sales-container-description {
  border: 1px solid yellow;
  height: 4em;
  width: 36em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

.messages-image-container {
  border: 0.2em solid #324f3c;
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin-left: 1em;

  img {
    height: 5em;
    width: 5em;
    border-radius: 3em;
  }

  img:hover {
    box-shadow: 0.3rem 0.3rem #324f3c;
    filter: brightness(90%);
    transition: all 0.3s;
  }
}

.listing-description-container {
  width: 55%;
  font-size: 0.6em;
  display: flex;
  justify-content: left;
  align-items: center;
}

.user-conversation-container {
  width: 96%;
  height: 6%;
  font-size: 0.4em;
}

.admin-conversation-container {
  width: 96%;
  height: 6%;
  font-size: 0.4em;
  display: flex;
  justify-content: right;
  align-items: center;
}
