.messages-container {
  color: #324f3c;
  border: 0.5em solid #324f3c;
  width: 75%;
  height: 52em;
  display: flex;
  flex-direction: row;
  border-radius: 5em;
}

.sales-container {
  border: 1px solid red;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2em;
  padding-top: 2em;
}

.listing-display-container {
  border: 1px solid blue;
  width: 100%;
  height: 50%;
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-conversation-container {
  border: 1px solid green;
  width: 100%;
  height: 50%;
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.right-side-messages {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.individual-sales-container {
  color: #324f3c;
  border: 0.3em solid #324f3c;
  width: 96%;
  height: 5em;
  border-radius: 1em;
  margin-block: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
