.nav-display {
  height: 100px;
  width: 100%;
  background-color: #324f3c;
  color: #e0e0e0;
  top: 0;
  position: fixed;
  padding: 1.5em;
  font-family: "Bebas Neue";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-family: "Bebas Neue";
  color: #e0e0e0;
  font-size: 2.3em;
  padding: 0.7em;
  position: relative;
  display: block;
  transition-duration: 0.2s;
}

.nav-title:hover {
  scale: 105%;
  transition-duration: 0.2s;
}

.nav-menu-buttons {
  font-size: 1.4em;
  margin-right: 2em;
}

span + span {
    margin-left: 2em;
}
