.product-main {
  width: 100%;
  background-color: #a1c5a6;
  color: #FFFFFF;
  top: 0;
  font-family: "Bebas Neue";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.product-container {
  color: #324f3c;
  border: 0.5em solid #324f3c;
  width: 75%;
  height: 45em;
  margin-top: 4.1em;
  display: flex;
  flex-direction: row;
  border-radius: 5em;
}

.product-image-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 35em;
    width: 35em;
    border-radius: 5em;
  }

  img:hover {
    box-shadow: 0.3rem 0.3rem #324f3c;
    filter: brightness(90%);
    transition: all 0.3s;
  }
}

.product-description-container {
  width: 40%;
}
