.product-main {
  width: 100%;
  background-color: #a1c5a6;
  color: #FFFFFF;
  top: 0;
  font-family: "Bebas Neue";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.product-container {
  color: #324f3c;
  border: 0.5em solid #324f3c;
  width: 75%;
  height: 45em;
  margin-top: 4.1em;
  display: flex;
  flex-direction: row;
  border-radius: 5em;
}

.product-container:hover {
  box-shadow: 0.2rem 0.2rem #939393;}

.product-image-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 35em;
    width: 35em;
    border-radius: 5em;
  }

  img:hover {
    box-shadow: 0.3rem 0.3rem #324f3c;
    filter: brightness(90%);
    transition: all 0.3s;
  }
}

.product-description-container {
  width: 40%;
  font-size: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;

  h3 {
    color: #e0e0e0;
  }
}

.product-seller-info {
  color: #324f3c;
  font-size: 1.5em;
  margin-top: 0.6em;
}
