.search-container {
  color: #324f3c;
  border: 0.5em solid #324f3c;
  width: 35%;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5em;
  font-size: 1.7em;
  padding: 2em;

  label {
    display: flex;
    justify-content: center;
  }
}

.search-button {
  display:inline-block;
  padding: 0.5em 2em;
  border: 0.2em solid #324f3c;
  background: #a1c5a6;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:"Bebas Neue";
  font-size: 1.3em;
  color:#324f3c;
  text-align: center;
  transition: all 0.3s;
}

span {
  font-size: 1.4em;
}

select {
  display: block;
  margin: 0 auto;
  width: 7em;
  color: #e0e0e0;
  border: none;
  background: #324f3c;
  text-align-last: center;
  text-align: center;
}

input {
  display: block;
  margin: 0 auto;
  width: 7em;
  color: #e0e0e0;
  border: none;
  background: #324f3c;
}

.search-button:hover {
  color:#324f3c;
  background-color:#e0e0e0;
  box-shadow: 0.2rem 0.2rem #939393;
}
