body, html {
  height: 100%
}

.background {
  background: #324f3c;
  height: 100%;
  position: relative;
  font-family: "Bebas Neue";
  font-size: 1.5em;
}

.topleft {
  position: absolute;
  top: 0;
  left: 1.3em;
}

.topleft:hover {
  scale: 105%;
  transition-duration: 0.2s;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 50%;
}

.welcome-button {
  display:inline-block;
  padding: 0.5em 2em;
  border: 0.2em solid #e0e0e0;
  margin-bottom: 2em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:"Bebas Neue";
  font-size: 0.8em;
  color:#e0e0e0;
  text-align: center;
  transition: all 0.3s;
}

.welcome-button:hover {
  color:#324f3c;
  background-color:#a1c5a6;
}

footer a {
  margin-inline: 0.5em;
}
